USE [master]
GO
/****** Object:  Database [CandyStore]    Script Date: 11/11/2022 7:52:19 PM ******/
CREATE DATABASE [CandyStore]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CandyStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CandyStore]
GO
/****** Object:  Table [dbo].[Box]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Box](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NULL,
	[lowerAge] [int] NULL,
	[upperAge] [int] NULL,
	[status] [bit] NOT NULL,
	[boxPatternId] [int] NULL,
 CONSTRAINT [PK_Box] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxPattern]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxPattern](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[image] [nvarchar](500) NOT NULL,
	[status] [bit] NOT NULL,
	[price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoxProduct]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoxProduct](
	[boxId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_BoxProduct] PRIMARY KEY CLUSTERED 
(
	[boxId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[originid] [int] NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catagory]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catagory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Catagory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[datetime] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orderdetail]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orderdetail](
	[id] [int] NOT NULL,
	[boxid] [int] NOT NULL,
	[price] [money] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_Orderdetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[boxid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Origin]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Origin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_origin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[quantity] [int] NOT NULL,
	[price] [money] NULL,
	[status] [bit] NULL,
	[image] [nvarchar](500) NOT NULL,
	[catagoryId] [int] NOT NULL,
	[brandId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [nvarchar](50) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/11/2022 7:52:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[fullname] [nvarchar](50) NULL,
	[roleid] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Box] ON 

INSERT [dbo].[Box] ([id], [quantity], [lowerAge], [upperAge], [status], [boxPatternId]) VALUES (1, 3, 10, 10, 0, 3)
INSERT [dbo].[Box] ([id], [quantity], [lowerAge], [upperAge], [status], [boxPatternId]) VALUES (5, 3, 30, 20, 1, 4)
INSERT [dbo].[Box] ([id], [quantity], [lowerAge], [upperAge], [status], [boxPatternId]) VALUES (6, 5, 30, 30, 1, 2)
SET IDENTITY_INSERT [dbo].[Box] OFF
GO
SET IDENTITY_INSERT [dbo].[BoxPattern] ON 

INSERT [dbo].[BoxPattern] ([id], [name], [image], [status], [price]) VALUES (2, N'Wedding', N'Wedding Image', 1, 200)
INSERT [dbo].[BoxPattern] ([id], [name], [image], [status], [price]) VALUES (3, N'Halloween', N'Halloween Image', 0, 300)
INSERT [dbo].[BoxPattern] ([id], [name], [image], [status], [price]) VALUES (4, N'Christmas', N'Christmas Image', 0, 100)
SET IDENTITY_INSERT [dbo].[BoxPattern] OFF
GO
INSERT [dbo].[BoxProduct] ([boxId], [productId], [quantity]) VALUES (1, 1, 16)
INSERT [dbo].[BoxProduct] ([boxId], [productId], [quantity]) VALUES (1, 2, 1)
INSERT [dbo].[BoxProduct] ([boxId], [productId], [quantity]) VALUES (5, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([id], [name], [originid]) VALUES (1, N'Hershey', 1)
INSERT [dbo].[Brand] ([id], [name], [originid]) VALUES (2, N'Giga Chad', 2)
INSERT [dbo].[Brand] ([id], [name], [originid]) VALUES (3, N'M&M''s', 3)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Catagory] ON 

INSERT [dbo].[Catagory] ([id], [name]) VALUES (1, N'Wrapped Candy')
INSERT [dbo].[Catagory] ([id], [name]) VALUES (2, N'Unwrapped Candy')
INSERT [dbo].[Catagory] ([id], [name]) VALUES (3, N'Gummy')
SET IDENTITY_INSERT [dbo].[Catagory] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [userid], [datetime], [status]) VALUES (1, 3, CAST(N'2022-10-05T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Order] ([id], [userid], [datetime], [status]) VALUES (2, 3, CAST(N'2022-10-05T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Order] ([id], [userid], [datetime], [status]) VALUES (3, 4, CAST(N'2022-10-05T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[Orderdetail] ([id], [boxid], [price], [quantity]) VALUES (1, 1, 300.0000, 2)
INSERT [dbo].[Orderdetail] ([id], [boxid], [price], [quantity]) VALUES (1, 5, 200.0000, 1)
INSERT [dbo].[Orderdetail] ([id], [boxid], [price], [quantity]) VALUES (1, 6, 100.0000, 1)
GO
SET IDENTITY_INSERT [dbo].[Origin] ON 

INSERT [dbo].[Origin] ([id], [name]) VALUES (1, N'NA')
INSERT [dbo].[Origin] ([id], [name]) VALUES (2, N'Canada')
INSERT [dbo].[Origin] ([id], [name]) VALUES (3, N'German')
SET IDENTITY_INSERT [dbo].[Origin] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [quantity], [price], [status], [image], [catagoryId], [brandId]) VALUES (1, N'Gourmet Salt Water Taffy - 5lb', 200, 20.9900, 1, N'https://cdn.shopify.com/s/files/1/0614/8309/0107/products/salt-water-taffy-bulk-assorted-tafy-town-candystore-470x470_1_1_180x.jpg?v=1647689533', 1, 1)
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [status], [image], [catagoryId], [brandId]) VALUES (2, N'Peppermint Starlight Mints - 7lb', 200, 18.9900, 1, N'https://cdn.shopify.com/s/files/1/0614/8309/0107/products/starlight-mints-peppermint-wmark_1_180x.jpg?v=1647672304', 6, 1)
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [status], [image], [catagoryId], [brandId]) VALUES (3, N'Andes Mints - 5lb', 200, 43.9900, 0, N'https://cdn.shopify.com/s/files/1/0614/8309/0107/products/andes-mints-5lbs_1_180x.jpg?v=1647667379', 6, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [role]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([id], [role]) VALUES (2, N'Customer')
INSERT [dbo].[Role] ([id], [role]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [email], [username], [password], [fullname], [roleid], [status]) VALUES (1, N'admin1@mail.com', N'admin1', N'1', N'Admin 1', 1, 1)
INSERT [dbo].[User] ([id], [email], [username], [password], [fullname], [roleid], [status]) VALUES (2, N'admin2@mail.com', N'admin2', N'1', N'Admin 2', 1, 1)
INSERT [dbo].[User] ([id], [email], [username], [password], [fullname], [roleid], [status]) VALUES (3, N'user1@mail.com', N'user1', N'1', N'User 1', 2, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Box] ADD  CONSTRAINT [status_notnull]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[BoxPattern] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[BoxPattern] ADD  DEFAULT ((100)) FOR [price]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('0') FOR [status]
GO
ALTER TABLE [dbo].[Box]  WITH CHECK ADD  CONSTRAINT [FK_Box_BoxPattern] FOREIGN KEY([boxPatternId])
REFERENCES [dbo].[BoxPattern] ([id])
GO
ALTER TABLE [dbo].[Box] CHECK CONSTRAINT [FK_Box_BoxPattern]
GO
ALTER TABLE [dbo].[BoxProduct]  WITH CHECK ADD  CONSTRAINT [FK_BoxProduct_Box] FOREIGN KEY([boxId])
REFERENCES [dbo].[Box] ([id])
GO
ALTER TABLE [dbo].[BoxProduct] CHECK CONSTRAINT [FK_BoxProduct_Box]
GO
ALTER TABLE [dbo].[BoxProduct]  WITH CHECK ADD  CONSTRAINT [FK_BoxProduct_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[BoxProduct] CHECK CONSTRAINT [FK_BoxProduct_Product]
GO
ALTER TABLE [dbo].[Brand]  WITH CHECK ADD  CONSTRAINT [FK_Brand_origin] FOREIGN KEY([originid])
REFERENCES [dbo].[Origin] ([id])
GO
ALTER TABLE [dbo].[Brand] CHECK CONSTRAINT [FK_Brand_origin]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([userid])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Orderdetail]  WITH CHECK ADD  CONSTRAINT [FK_Orderdetail_Box] FOREIGN KEY([boxid])
REFERENCES [dbo].[Box] ([id])
GO
ALTER TABLE [dbo].[Orderdetail] CHECK CONSTRAINT [FK_Orderdetail_Box]
GO
ALTER TABLE [dbo].[Orderdetail]  WITH CHECK ADD  CONSTRAINT [FK_Orderdetail_Order] FOREIGN KEY([id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[Orderdetail] CHECK CONSTRAINT [FK_Orderdetail_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([brandId])
REFERENCES [dbo].[Brand] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Catagory] FOREIGN KEY([catagoryId])
REFERENCES [dbo].[Catagory] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Catagory]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([roleid])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
